
.tableClass {
    padding: 20px;
    display: flex;
    flex-flow: column;
    font-family: 'Arial'
}

.tableClass th {
    background-color: teal;
    color: white;
}

.tableClass td:nth-child(10) {
    font-size: 10px;
}

.tableClass > .nes-container {
    margin-bottom: 20px;
}

.tableClass .createForm {
   display: flex;
   flex-wrap: wrap; 
   align-items: baseline;
}

.tableClass .createForm .formItem {
    display: flex;
    margin: 5px;
    align-items: baseline;
}

.tableClass .createForm .formItem > label {
    margin-right: 5px;
}

.tableClass .createForm input[value="Add Row"] {
    height: 30px;
}

.myTable * {
    border: 1px solid black;
    border-collapse: collapse;
}

.tableClass button+button {
    margin: 10px;
}