
.tableClass {
    padding: 20px;
    width: 101vw;
    display:flex;
    flex-flow: column;
}

.tableClass table {
    width: 98vw;
}

.tableClass td:nth-child(9) {
    font-size: 10px;
}

.tableClass > .nes-container {
    margin-bottom: 20px;
}

.tableClass .createForm {
   display: flex;
   flex-wrap: wrap; 
   align-items: baseline;
}

.tableClass .createForm .formItem {
    display: flex;
    margin: 5px;
    align-items: baseline;
}

.tableClass .createForm .formItem > label {
    margin-right: 5px;
}

.tableClass .createForm input[value="Add Row"] {
    height: 30px;
}